/* ---------------------------------------------------------
   View Styles
   --------------------------------------------------------- */

  /* Black background and white text*/
  body {
    background-color:black;
    color:white;
  }

  /* Grey link styling */
  a:link { color:#CCCCCC; }
  a:visited { color:#666666; }
  a:hover, a:focus { color:#999999; }
  a:active { color:#666666; }

  /* Remove hyperlink underline from image buttons */
  a.image_button:link {text-decoration:none;}
  a.image_button:visited {text-decoration:none;}
  a.image_button:hover {text-decoration:none;}
  a.image_button:active {text-decoration:none;}

/* ---------------------------------------------------------
   Print Styles
   --------------------------------------------------------- */
@media print {
 * {
    color:#000 !important;
    box-shadow:none !important;
    text-shadow:none !important;
    background:transparent !important;
  }
  html { background-color:#fff; }
  /* Hide navigation */
  nav { display:none; }

  /* Show link destinations in brackets after the link text */
  a[href]:after { content: " (" attr(href) ") "; }
  a[href] {
    font-weight:bold;
    text-decoration:underline;
    color:#06c;
    border:none;
  }
  /* Don't show link destinations for JavaScript or internal links */
  a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }

  /* Show abbr title value in brackets after the text */
  abbr[title]:after { content: " (" attr(title) ")"; }

  figure {
    margin-bottom:1em;
    overflow:hidden;
  }

  figure img { border:1px solid #000; }
}
